h2 {
  color: #aaa975;
  padding-left: 0.4em;
  margin-bottom: 0.2em;
  font-weight: 500;
}

h3 {
  color: #7d939e;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
  font-weight: 400;
  font-size: 1.15em;
}